@import "../../assets/variable.scss";

.footer-body {
    background-color: $dark;
    font-size: 18px;
    color: white;
    letter-spacing: 1;
    text-align: center;
    vertical-align: middle;
    height: 80px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}