@import '~antd/dist/antd.css';

body {
    background-color: #f2f2f2;
}

.fixed-header {
    position: fixed;
    width: 100%;
    top: 0;
    display: block;
    z-index: 2;
}

.main-menu {
    padding: 10px 50px;
    background-color: #1890ff;
}

.main-menu::after {
    content: "";
    clear: both;
    display: table;
}

.main-menu > li {
    color: white;
    list-style: none;
    cursor: pointer;
    letter-spacing: 0.8px;
    text-decoration-line: none;
    float: right;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
}

.o-content-wrapper {
    margin-top: 54px;
    margin-left: 200px;
}

.o-sider {
    width: 200px;
    position: fixed;
    background-color: #1890ff;
    height: 100%;
    z-index: 3;
    top: 54px;
}

.switch-wrapper > div {
    position: absolute;
    width: 100%;
}

@media(max-width: 767px) {
    .main-menu {
        display: none;
    }
    .o-sider {
        display: none;
    }
}