@import '~antd/dist/antd.css';

.max-height {
    height: 1000px;
    background-color: hotpink;
}

.logo-main {
    height: 64px;
    background-color: #c2e1ff;
}

.float-right-group {
    float: right;
}

.switch-wrapper > div {
  position: absolute;
}

.content-fill {
    background-color: hotpink;
    height: 100%;
    width: 100%;
    margin-top: 200px;
    padding-left: 200px;
}