@import '~antd/dist/antd.css';

.max-height {
    height: 1000px;
    background-color: hotpink;
}

.logo-main {
    height: 64px;
    background-color: #c2e1ff;
}

.pq {
    float: right;
}

.main-wrap {
    padding: 10px;
    height: 100%;
}


.switch-wrapper > div {
  position: absolute;
}

.tjurut {
    background-color: hotpink;
    border-right: 4px solid pink;
}

a {
    color: orange;
}

a:active {
    color: hotpink;
}

a:active {
    background-color: hotpink;
}